<template>
  <el-card>
    <template #header>
      <div class="card-header">
        <el-row>
          <el-col :span="4" class="status">
            <el-switch :value="featureFlag.default_enabled" disabled />
          </el-col>
          <el-col :span="20">
            <code class="name">{{ featureFlag.name }}</code>
          </el-col>
        </el-row>
      </div>
    </template>
    <div>
      <el-link
        v-if="featureFlag.rollout_issue_url"
        type="primary"
        icon="el-icon-link"
        :href="featureFlag.rollout_issue_url"
        target="_blank"
      >
        Rollout issue
      </el-link>
    </div>
    <div>
      <el-link
        v-if="featureFlag.introduced_by_url"
        type="primary"
        icon="el-icon-link"
        :href="featureFlag.introduced_by_url"
        target="_blank"
      >
        Merge request
      </el-link>
    </div>
  </el-card>
</template>

<script setup>
import { defineProps } from "vue";

defineProps({
  featureFlag: {
    type: Object,
    required: true,
  },
});
</script>

<style scoped>
.status {
  display: flex;
  align-items: center;
}

.name {
  word-break: break-all;
}
</style>
