<template>
  <el-row
    v-for="(featureFlags, group) in groups"
    :key="group"
    :gutter="20"
    class="group"
  >
    <el-col :span="24">
      <el-tag>{{ group }}</el-tag>
    </el-col>
    <el-col
      v-for="featureFlag in featureFlags"
      :key="featureFlag.name"
      :span="6"
    >
      <FeatureFlag :feature-flag="featureFlag" class="feature-flag" />
    </el-col>
  </el-row>
</template>

<script setup>
import { defineProps } from "vue";
import FeatureFlag from "./FeatureFlag.vue";

defineProps({
  groups: {
    type: Object,
    required: true,
  },
});
</script>

<style scoped>
.group,
.feature-flag {
  margin: 10px 0;
}
</style>
