<template>
  <el-select
    v-model="selectedGroups"
    multiple
    filterable
    clearable
    placeholder="Choose at least one group"
    class="groups-selector"
  >
    <el-option
      v-for="group in groups"
      :key="group"
      :label="group"
      :value="group"
    />
  </el-select>
</template>

<script setup>
import { defineProps, defineEmit, ref, watch } from "vue";

defineProps({
  groups: {
    type: Array,
    required: true,
  },
});

const emit = defineEmit(["input"]);

const selectedGroups = ref([]);

watch(selectedGroups, (value) => {
  emit("input", value);
});
</script>

<style scoped>
.groups-selector {
  width: 100%;
}
</style>
