<template>
  <el-container>
    <el-header v-loading="groups.loading">
      <Groups v-model="groups.selected" :groups="groups.list" />
    </el-header>
    <el-main v-loading="!groups.loading && featureFlags.loading">
      <FeatureFlags :groups="featureFlags.data" />
    </el-main>
  </el-container>
</template>

<script setup>
import { onMounted, reactive, watch } from "vue";
import Groups from "./components/Groups.vue";
import FeatureFlags from "./components/FeatureFlags.vue";
import { buildRequest } from "./helpers";
import { useRouter } from "vue-router";

const router = useRouter();

const groups = reactive({
  loading: true,
  list: [],
  selected: [],
});
onMounted(async () => {
  await router.isReady();
  groups.selected = router.currentRoute.value.query.groups
    ? router.currentRoute.value.query.groups.split(",")
    : groups.selected;
  const groupsRequest = buildRequest("/groups");
  try {
    const response = await fetch(groupsRequest);
    groups.list = await response.json();
  } catch {
    groups.list = [];
  } finally {
    groups.loading = false;
  }
});

const featureFlags = reactive({
  loading: true,
  data: {},
});
watch(groups, async (groups) => {
  router.push({
    query: {
      groups: groups.selected.join(","),
    },
  });
  const featureFlagsRequest = buildRequest("/flags_for_groups", {
    groups: groups.selected.join(","),
  });
  featureFlags.loading = true;
  try {
    const response = await fetch(featureFlagsRequest);
    featureFlags.data = await response.json();
  } catch {
    featureFlags.data = {};
  } finally {
    featureFlags.loading = false;
  }
});
</script>
